

    
    <div class= "container">
        <div class="alert alert-warning" *ngIf="invalidLogin">{{errmsg}}</div>
    

        <div class="container">
            <a routerLink="/LoginOwner"><button class="btn btn-info">Owner Login</button></a>
        
        </div>

   
    <div class="container"  >
        <h1>
            Customer Login
        </h1>
        
        <form  #LoginForm="ngForm" (ngSubmit)="userLogin()" ngNativeValidate >
            <fieldset class="form-group">
                <label>Username</label>
                <input type="text" #name="ngModel"  class="form-control"  name="Username" [(ngModel)]="userName" required="required" />
            </fieldset>
            <fieldset class="form-group">
                <label>Password</label>
                <input type="password" #pass="ngModel" class="form-control"  name="Password" [(ngModel)]="password" required="required" />
            </fieldset>
            
        <fieldset class="form-group">
            <input type="checkbox" required ="required"/> Human Verification
        </fieldset>
        <fieldset class="form-group">
             <div><button class="btn btn-success" type="submit">Login</button></div> 
        </fieldset>
            
        </form>
    </div>
    
    