
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>About <span>BookMyRoom</span></h1>
								<h3>A project created by Sadanand Koli and Pratik Nikam </h3>
								<p class="about-paddingB">Project created as part of cdac curriculum
									The Book My Room  is Hotel booking web application which is created with the  purpose of providing complete solutions for Hotel owners as well as customers through a single get- way using the internet.
									This system allows the customer's to book Hotel Rooms according to their requirements with affordable price by using internet. Hotel  owners will be able to upload room details and specifications and the pricing.
	
								</p>
				
							</div>
						</div>
						
                    </div>
                </div>
            </div>